.game-hud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.game-hud__player-status-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.game-hud__inventory-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.game-hud__ai-status-container {
    width: 100%;
    align-items: center;
}

.game-hud__ai-objectives-container {
    position: absolute;
    top: 20px;
    right: 20px;
}
