* text=auto
*.cs diff=csharp

# Creative software
*.rns binary
*.reason binary
*.lxo binary
*.exr binary

# Documents
*.pdf binary

# Image formats
*.afdesign binary
*.afphoto binary
*.ai binary
*.bmp binary
*.dds binary
*.jpg binary
*.gif binary
*.iff binary
*.pict binary
*.png binary
*.psd binary
*.svg binary
*.tga binary
*.tiff binary
*.webp binary

# Audio formats
*.aif binary
*.aiff binary
*.it binary
*.mod binary
*.mp3 binary
*.ogg binary
*.s3m binary
*.wav binary
*.xm binary

# Video formats
*.mov binary
*.avi binary
*.asf binary
*.mpg binary
*.mpeg binary
*.mp4 binary

# 3D formats
*.3ds binary
*.3dm binary
*.abc binary
*.blend binary
*.c4d binary
*.dae binary
*.dfx binary
*.FBX binary
*.fbx binary
*.glb binary
*.gltf binary
*.lwo binary
*.lwo2 binary
*.lxo binary
*.obj binary
*.ma binary
*.max binary
*.mb binary

# Font formats
*.ttf binary
*.otf binary

# Bundles and binaries
*.dll binary
*.exe binary
*.mdb binary
*.pdb binary
*.so binary

# Packaging
*.zip binary
*.7z binary
*.gz binary
*.rar binary
*.tar binary

# Unity files
*.asmdef -text merge=unityyamlmerge
*.anim -text merge=unityyamlmerge linguist-generated
*.asset -text merge=unityyamlmerge linguist-generated
*.brush -text merge=unityyamlmerge linguist-generated
*.controller -text merge=unityyamlmerge linguist-generated
*.flare -text merge=unityyamlmerge linguist-generated
*.fontsettings -text merge=unityyamlmerge linguist-generated
*.giparams -text merge=unityyamlmerge linguist-generated
*.guiskin -text merge=unityyamlmerge linguist-generated
*.mask -text merge=unityyamlmerge linguist-generated
*.mat -text merge=unityyamlmerge linguist-generated
*.meta -text merge=unityyamlmerge linguist-generated
*.mixer -text merge=unityyamlmerge linguist-generated
*.overrideController -text merge=unityyamlmerge linguist-generated
*.physicMaterial -text merge=unityyamlmerge linguist-generated
*.physicsMaterial2D -text merge=unityyamlmerge linguist-generated
*.playable -text merge=unityyamlmerge linguist-generated
*.prefab -text merge=unityyamlmerge linguist-generated
*.preset -text merge=unityyamlmerge linguist-generated
*.renderTexture -text merge=unityyamlmerge linguist-generated
*.shadervariants -text merge=unityyamlmerge linguist-generated
*.spriteatlas -text merge=unityyamlmerge linguist-generated
*.terrainlayer -text merge=unityyamlmerge linguist-generated
*.unity -text merge=unityyamlmerge linguist-generated

# Unity binary files
*.bundle binary
*.cubemap binary
*.unitypackage binary

# Unity specific assets
*-[Nn]av[Mm]esh.asset binary
*-[Tt]errain.asset binary
*LightingData.asset binary
*OcclusionCullingData.asset binary